<div class="container">
<h1> Top recommendations </h1>


<% @bookmarks.each do |bookmark| %>
  <%= bookmark.recommendation.body_part %>
  <%= bookmark.recommendation.description %>
  <%= bookmark.recommendation.function %>
  <%= bookmark.recommendation.item %>
<% end %>
