<h1>My Bookmarks</h1>

  <% @bookmarks.each do |bookmark| %>
    <div>
      <%= link_to bookmark.recommendation.item, recommendation_path(bookmark.recommendation) %>
      <%= link_to "Remove Bookmark", bookmark_path(current_user, bookmark), method: :delete, data: { confirm: "Are you sure?" } %>
    </div>
  <% end %>

