// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;




// colors based on the figma desing:

$new-yellow: #FFCE58;
$new-red: #DE3B40;
$new-violet: #A258FF;
$new-turquese: #5FEFFF;
$new-light-blue: #379AE6;
$new-blue:#5147eb; 
