
.container-recommendations {
  text-align: center;
}

.card-header {
  // display: flex;
  // align-items: center;
  padding: 10px;
}

.card-header * {
  margin-right: 10px;
  font-size: 16px;
  color: black;
}

.card-header h2.title {
  margin: 0;
  flex: 1;
}


.card-header dl {
  display: flex;
  margin: 0;
}

.card-header dt {
  margin-right: 5px;
  font-size: 8pt;
}

.card-body {
  display: flex;
  // flex-direction: column;
  align-items: center;
  text-align: left;
  border-radius: 0px 0px 10px 10px;
}

.card-image {
  flex: 0 0 auto;
}

.card-info {
  flex: 1;
}

.card-header dd {
  margin: 0;
  display: flex;
  justify-content: space-between;
  font-size: 9pt;

}

.column-recommendation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.details {
  display: flex;
  justify-content: space-between;
}

.card-header .fa-bookmark {
  margin: 3px 0 0 10px;
  font-size: 30px;
}
.card-header {
  border-radius: 10px 10px 0 0 !important;
}

.card-image {
  img{

    width: 160px;
  }
}
