*,
*:after,
*:before {
	
.recommendation {
  background-color: #c9f9ff;
}

.card-header {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #5eefff;
}

.card-header * {
  margin-right: 10px;
  font-size: 16px;
  color: black;
}

.card-header h2.title {
  margin: 0;
  flex: 1;
}


.card-header dl {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.card-header dt {
  margin-right: 5px;
}

.card-body {
  display: flex;
  align-items: center;
}

.card-image {
  flex: 0 0 auto;
  margin-right: 20px;
}

.card-info {
  flex: 1;
}

.card-header dd {
  margin: 0;
}
