.index-container {
  background:linear-gradient(90deg, hsla(0, 0%, 100%, 0.447) 0%, rgba(248, 244, 244, 0.482) 50%), url(multiple_silhouettes_grey.jpg);
  background-size: cover;
  height: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.index-silhouette-bar {
  font-family: "Playfair Display", serif, "Helvetica", "sans-serif";
  border: none;
  font-weight: bolder;
  border-radius: 4.8px;
  box-shadow: 10px 5px 5px rgba(113, 93, 93, 0.29);
  border-style: hidden;
  color: white;
  text-shadow: 1px 1px 2px grey, 0 0 1px grey, 0 0 0.2px grey;
}

// // danger hardcoder black color for demo only, based in the order happening right now
// .grid-container a:nth-child(3) div,a:nth-child(4) div {
// color: black;
// }
