.profile-image {
  height: 150px;
  border-radius: 50%;
}



.profile-button{

}


// .recomm{
//   background-color: $new-turquese;
//   border: none;
// }

.transit{
  background-color: #FFCE58;
  border: none;
  }

.aisstyl{
  background-color: #DE3B40;
  border: none;
    }

.text-profile{
  text-align: center;
}

.img-silhouette {
  height: 100%;
}

.bookmarkscard {
  border: solid 1px;
  border-color: rgb(174, 172, 172);
  background:linear-gradient(90deg, hsla(0, 0%, 100%, 0.447) 0%, rgba(248, 244, 244, 0.482) 20%), url(multiple_silhouettes_grey.jpg);
  border-radius: 10px;

}
