.profile-image {
  height: 150px;
  border-radius: 50%;
}



.profile-button{

}


.profile-button-recommendations{
  background-color: #5FEFFF;
  border: none;
}

.profile-button-transitions{
  background-color: #FFCE58;
  border: none;
  }

.profile-button-ai{
  background-color: #DE3B40;
  border: none;
    }

.text-profile{
  text-align: center;
}

.img-silhouette {
  height: 100%;
}
