.profile-image {
  height: 150px;
  border-radius: 50%;
}

.card-silhouette{
  background-color: #A258FF;
  width: 100%;
}

.card-my-silhouette {
  background-color: #E9D8FF;
  height: 20vh;
  width: 40vw;
}

.card-recommendation{
  width: 100%;
  background-color: #379AE6;
}

.card-my-recommendation{
  background-color: #D8EEFF;
  height: 20vh;
  width: 40vw;
}

.profile-button-recommendations{
  background-color: #5FEFFF;
  border: none;
}

.profile-button-transitions{
  background-color: #FFCE58;
  border: none;
  }

.profile-button-ai{
  background-color: #DE3B40;
  border: none;
    }

.text-profile{
  text-align: center;
}

.img-silhouette {
  height: 100%;
}
