<ul class="footer-links fs-1 p-2 m-0 d-flex gap-5 list-unstyled justify-content-between w-100">
  <li>
    <%= link_to (current_user ? user_recommendations_path(current_user) : new_user_session_path), class: "icon#{' active' if current_user && current_page?(user_recommendations_path(current_user))}" do %>
      <i class="fa-solid fa-shirt"></i>
    <% end %>

  </li>
  <li>
    <%= link_to style_transition_path, class: "icon#{' active' if current_page?(style_transition_path)}" do %>
      <i class="fa-solid fa-shapes"></i>
    <% end %>
  </li>
  <li>
    <%= link_to chatroom_path(Chatroom.last), class: "icon#{' active' if current_page?(chatroom_path(Chatroom.last))}" do %>
      <i class="fa-regular fa-comment-dots"></i>
    <% end %>
  </li>
</ul>
