<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "#", class: "mx-3 navbar-brand" do %>
      <%= image_tag "logo_icon.png" %>
    <% end %>
    <%= link_to style_profile_path, class: 'icon' do %><i class="mx-3  icon fa-solid fa-user"></i><% end %>
    </div>
  </div>
