<div class="home-container">
  <div  class= "instructions">
    <div class="title fs-1">
      <p>Discover your natural silhouette</p>
    </div>

    <div class="first-step-text fs-5">
      <p>Your body's basic shape, determined by the shoulders, waist and hips thighs, reveals your natural silhouette in clothing</p>
    </div>

    <div class="second-step-first fs-5">
      <p>Focus solely on your body's basic shape for now, disregarding size or type</p>
    </div>


  </div>
  <div class="discover-shape">
    <%= link_to select_silhouette_path, class: "category-filter btn btn-pink" do %>Discover your perfect match
      <i class="fa-solid fa-arrow-right fa-2xl white-icon"></i>
    <% end %>
  </div>
</div>
