.rectangle {
  background-color: #a358ff5d;
}

.hourglass {
  background-color: rgba(85, 255, 238, 0.432);
}

.eight {
  background-color: #ffcd5861;
}

.inverted_triangle {
  background-color: #5247eb5c;
}

.triangle {
  background-color: #379ae660;
}

.oval {
background-color: #de3b4161;
}
