.rectangle {
  background-color: #A258FF;
}

.hourglass {
  background-color: rgb(85, 255, 238);
}

.eight {
  background-color: #FFCE58;
}

.inverted_triangle {
  background-color: #5247eb;
}

.triangle {
  background-color: #379ae6;
}

.oval {
background-color: #DE3B40;
}
